nav.main_nav.header__main-nav
    ul.main-nav__list
        li.main-nav__item
            a(href="").main-nav__link О нас
        li.main-nav__item
            a(href="").main-nav__link Услуги 
            .main-nav__item__body &#709
        li.main-nav__item
            a(href="").main-nav__link Вакансии
        li.main-nav__item
            a(href="").main-nav__link Новости
        li.main-nav__item
            a(href="").main-nav__link Соглашения 
            .main-nav__item__body &#709
            