.header {
  .container {
    display: flex;
    align-items: center;

  }

  &-main {
    .user-nav {
      margin-left: auto;
    }

    &__logo {
      margin-right: 285px;
    }

    padding: 35px 0;
  }
}
