header.header
    .header-main
        .container
            .header-main__logo
                img(src="/assets/img/logo.png", alt="logo")
                img(src="/assets/img/TOXIN.png", alt="logo" class = 'header-logo__toxin')
            include ../navigation/main-nav
            .user-nav.header-main__user-nav
                a(href="").user-nav__link Войти
                a(href="").user-nav__link Зарегестрироваться 
            //.user-nav.header-main__user-nav
                
        